<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371769728155-rmgn148g9d417sqtnqbic21eni5q6odo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371769728155-rmgn148g9d417sqtnqbic21eni5q6odo</string>
	<key>API_KEY</key>
	<string>AIzaSyBca-85Pd6WT44mo6ugmYxnyuv4gw74aMY</string>
	<key>GCM_SENDER_ID</key>
	<string>371769728155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Strats360.firebaseDatabase-test</string>
	<key>PROJECT_ID</key>
	<string>databasetest2-edf06</string>
	<key>STORAGE_BUCKET</key>
	<string>databasetest2-edf06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371769728155:ios:edb80d85eb9c0db8b8ba3e</string>
	<key>DATABASE_URL</key>
	<string>https://databasetest2-edf06-default-rtdb.firebaseio.com</string>
</dict>
</plist>